<div class="top-image">
  <h1 class="app-title">Growth!</h1>
  <div class="copy">
    <h3><strong>成長を助け合おう</strong></h3>
    <div class="lead">
      Growth！ はエンジニアのコミュニケーションサービスです<br>
        興味のある方の記事、SNS投稿を見る事が出来ます<br>
    </div>
    <div class="topbtn">
      <%= link_to "新規登録", new_user_registration_path , class: "topbtn__item" %>
      <%= link_to "ログイン",new_user_session_path , class: "topbtn__item" %>

    <%# <% end %>
    </div>
  </div>
</div>
